.dashboard {
  display: grid;
  grid-template-columns: 300px 2fr;
  height: 95vh;
  font-family: "Open Sans", sans-serif;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr 2fr;
  }

  .chat-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    height: 95vh;
  }
}
