.dashboard {
  display: grid;
  grid-template-columns: 300px 2fr;
  height: 95vh;
  font-family: "Open Sans", sans-serif;

  .chat_area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    height: 95vh;
  }
}

@media (max-width: $mobile-breakpoint) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .chat_area {
      display: none;
      position: relative;
    }

    // When user is selected, show chat and hide users
    &.user_selected {
      .user_list {
        display: none;
      }

      .chat_area {
        display: flex;
      }
    }
  }
}
