.dashboard {
  display: grid;
  grid-template-columns: 300px 2fr;
  height: 95vh;
  font-family: "Open Sans", sans-serif;

  .chat-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    height: 95vh;
  }
}

@media (max-width: $mobile-breakpoint) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .chat-area {
      display: none;
    }
  }
}
