$thumbnail_size: 28px;
$border_spacing: 0.5rem;

.thumbnail_wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.thumbnail {
  background-color: var(--primary);
  color: var(--white);
  width: $thumbnail_size;
  height: $thumbnail_size;
  font-weight: bold;
  border-radius: 50%;
  display: grid;
  place-items: center;
  user-select: none;
  overflow: hidden;
  font-size: 1rem;
}

.thumbnail_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown_menu {
  position: absolute;
  right: 0;
  margin-top: 0.125rem;
  background: white;
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  min-width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .dropdown_header {
    border-bottom: 1px solid var(--gray-100);
    padding-bottom: $border_spacing;
    margin-bottom: $border_spacing;
    text-align: center;
    font-size: 0.85rem;
    padding: 0.5rem;

    .dropdown_email {
      font-size: 0.65rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  .dropdown_footer {
    border-top: 1px solid var(--gray-100);
    margin-top: $border_spacing;
  }

  .dropdown_item {
    padding: $border_spacing $border_spacing * 2;
    margin: $border_spacing 0;
    font-size: 0.85rem;
    color: var(--text-200);
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: $border_spacing;

    &:hover {
      background-color: var(--gray-200);
    }

    &.active {
      background-color: var(--gray-100);
    }
  }
}

.thumbnail_initial {
  font-size: 0.65rem;
}
