.user {
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-100);
  }

  &.selected {
    background-color: var(--primary-selected);
  }

  .user-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;

    .user_name {
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-500);
    }

    .user_id {
      font-size: 0.675rem;
      color: var(--text-200);
    }
  }

  .user_id_only {
    font-size: 1rem;
    color: var(--text-500);
    flex: 1;
  }

  .last_message_time {
    font-size: 0.625rem;
    color: var(--text-200);
    white-space: nowrap;
    margin-left: 0.5rem;
  }

  &.skeleton {
    height: 2rem;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    animation: pulse 1.4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .user {
    font-size: 0.7rem;

    .user-details {
      .user_name {
        font-size: 0.75rem;
      }

      .user_id {
        font-size: 0.5rem;
      }
    }

    .user_id_only {
      font-size: 0.75rem;
    }

    .last_message_time {
      font-size: 0.5rem;
    }
  }
}
