.table-container {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 1rem;
  border-radius: 8px;
}

.table-scroll {
  min-width: 800px;
  overflow-x: auto;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 1000px;

  th,
  td {
    border: 1px solid var(--primary-selected);
    padding: 0.75rem;
    text-align: left;
    font-size: 0.875rem;
  }

  thead {
    background-color: var(--primary);
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1;
  }

  tr:nth-child(even) {
    background-color: var(--gray-100);
  }

  tr:hover {
    background-color: var(--primary-selected);
  }

  thead tr:hover {
    background-color: var(--primary-hover);
  }
}
