@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary: #2563eb;
  --primary-hover: #1e40af;
  --primary-selected: #dbeafe;

  --secondary: #f97316;
  --secondary-hover: #ea580c;
  --secondary-selected: #ffedd5;

  --tertiary: #9333ea;
  --tertiary-hover: #7e22ce;
  --tertiary-selected: #e0e7ff;

  --quaternary: #4ade80;
  --quaternary-hover: #22c55e;
  --quaternary-selected: #bbf7d0;

  --quinary: #3b82f6;
  --quinary-hover: #1d4ed8;
  --quinary-selected: #bfdbfe;

  --senary: #ec4899;
  --senary-hover: #db2777;
  --senary-selected: #fbcfe8;

  --gray-100: #eee;
  --gray-200: #ddd;
  --gray-300: #f8f8f8;

  --danger: #ef4444;
  --danger-hover: #dc2626;
  --danger-selected: #fee2e2;
  --warning: #fbbf24;
  --warning-hover: #f59e0b;
  --warning-selected: #fef3c7;
  --success: #22c55e;
  --success-hover: #16a34a;
  --success-selected: #bbf7d0;
  --info: #3b82f6;
  --info-hover: #2563eb;
  --info-selected: #dbeafe;
  --light: #f9f9f9;
  --light-hover: #f0f0f0;
  --light-selected: #e0e0e0;

  --white: #fff;
  --black: #000;
  --dark: #333;
}
