body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary: #4f4a87;
  --primary-hover: #6b6698;
  --primary-selected: #e8e7f0;

  --secondary: #93cfdd;
  --secondary-hover: #a8d7e4;
  --secondary-selected: #e5f4f7;

  --tertiary: #595ce1;
  --tertiary-hover: #797cfd;
  --tertiary-selected: #dbeafe;

  --quaternary: #f97316;
  --quaternary-hover: #ea580c;
  --quaternary-selected: #ffedd5;

  --quinary: #3b82f6;
  --quinary-hover: #1d4ed8;
  --quinary-selected: #bfdbfe;

  --senary: #ec4899;
  --senary-hover: #db2777;
  --senary-selected: #fbcfe8;

  --septenary: #fbbf24;
  --septenary-hover: #f59e0b;
  --septenary-selected: #fef3c7;

  --gray-100: #eee;
  --gray-200: #ddd;
  --gray-300: #f8f8f8;
  --gray-400: #ccc;
  --gray-500: #bbb;
  --gray-600: #aaa;
  --gray-700: #888;
  --gray-800: #666;
  --gray-900: #333;

  --danger: #ef4444;
  --danger-hover: #dc2626;
  --danger-selected: #fee2e2;
  --warning: #fbbf24;
  --warning-hover: #f59e0b;
  --warning-selected: #fef3c7;
  --success: #22c55e;
  --success-hover: #16a34a;
  --success-selected: #bbf7d0;
  --info: #3b82f6;
  --info-hover: #2563eb;
  --info-selected: #dbeafe;
  --light: #f9f9f9;
  --light-hover: #f0f0f0;
  --light-selected: #e0e0e0;

  --disabled-bg: #f0f0f0;
  --disabled-text: #b0b0b0;
  --disabled-border: #d0d0d0;
  --disabled-placeholder: #d0d0d0;
  --disabled-bg-hover: #e0e0e0;
  --disabled-bg-selected: #d0d0d0;
  --disabled-text-hover: #a0a0a0;
  --disabled-text-selected: #a0a0a0;
  --disabled-border-hover: #c0c0c0;
  --disabled-border-selected: #c0c0c0;

  --text-100: #9aa1b1;
  --text-200: #687184;
  --text-500: #454545;

  --error: #d03930;

  --background-100: #f5f7fa;

  --white: #fff;
  --black: #000;
  --dark: #333;
}
