.transition-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 2s ease, opacity 2s ease;
  filter: blur(0px);
  opacity: 1;
}

.transition-img.loading {
  filter: blur(10px);
  opacity: 0;
}
